<div class="container pt-5">
    <mat-card class="col-8 mx-auto text-center">
        <h1 class="display-4 mb-5">Formulario de registro</h1>
        <form [formGroup]="registerForm" (submit)="submitForm()">
            <mat-radio-group name="account_type" formControlName="role">
                <label class="mx-3 my-0">Seleccione el rol: </label>
                <mat-radio-button class="mx-2" value="jobSeeker">
                    empleador
                </mat-radio-button>
                <mat-radio-button class="mx-2" value="employee">
                    empleado
                </mat-radio-button>
            </mat-radio-group>
            <br />
            <mat-form-field class="col-5 mt-3 mx-auto">
                <mat-label>Nombre </mat-label>
                <input type="text" matInput formControlName="fullName" placeholder="pepito perez" />
                <mat-error *ngIf="registerForm.get('fullName').hasError('required')">
                    el nombre complñeto es <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="col-5 mb-2 mx-auto">
                <mat-label>telefono</mat-label>
                <input type="text" matInput formControlName="phone" />
                <mat-error *ngIf="registerForm.get('phone').hasError('required')">
                    numero <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="col-5 mb-2 mx-auto">
                <mat-label>correo</mat-label>
                <input type="email" matInput formControlName="email" placeholder="clalapea@correo.udistrital.edu.co" />
                <mat-error *ngIf="registerForm.get('email').hasError('email') && !registerForm.get('email').hasError('required')">
                    Correo no valido
                </mat-error>
                <mat-error *ngIf="registerForm.get('email').hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field class="col-5 mb-2 mx-auto">
                <mat-label>contraseña</mat-label>
                <input type="password" matInput formControlName="password" />
                <mat-error *ngIf="registerForm.get('password').hasError('required')">
                    contraseña <strong>requerida </strong>
                </mat-error>
            </mat-form-field>
            <br />
            <button [disabled]="!registerForm.valid" mat-flat-button color="primary" type="submit" class="col-3 mt-2 mb-3">
                enviar
            </button>
            <br />
            <ng-template [ngIf]="submitStatus">
                <span>Form submitted succesfully!</span>
            </ng-template>
        </form>
    </mat-card>
</div>